<p>My name is {{ name }} and my age is {{ getAge() }}</p>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control" [(ngModel)]="emailAddress">
</div>
<button class="btn btn-primary" (click)="setClickable()" [disabled]="isClickable">Add new</button>
<p>Email Address: {{ emailAddress }}</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let item of columns">{{ item }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.age }}</td>
        </tr>
    </tbody>
</table>